.options-bar {
  display: flex;
  justify-content: space-between;

  &__search {
    padding: 1rem 2rem;

    display: flex;
    gap: 2rem;
    height: 5rem;
    width: 30%;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
  }
}

.search {
  &__icon {
    width: 2.5rem;
    filter: invert(50%);
  }

  &__input {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    width: 100%;

    &:focus {
      outline: none;
      border: none;
    }
  }
}
