@import './../../shared';

.options-bar {
  display: flex;
  justify-content: space-between;

  &__search {
    padding: 1rem 2rem;

    display: flex;
    gap: 2rem;
    height: 5rem;
    width: 100%;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    &--dark {
      @extend .options-bar__search;
      background-color: var(--dark-element);
    }

    &--light {
      @extend .options-bar__search;
      background-color: var(--light-background);
    }

    &__container {
      width: 30%;
      display: flex;
      flex-direction: column;

      p {
        margin-top: 2.5rem;
        color: red;
        font-size: 2rem;
      }
    }
  }
}

.search {
  &__icon {
    width: 2.5rem;

    &--dark {
      @extend .search__icon;
      filter: invert(100%);
    }

    &--light {
      @extend .search__icon;
      filter: invert(30%);
    }
  }

  &__input {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    width: 100%;

    &--dark {
      @extend .search__input;
      color: var(--dark-text);
      &::placeholder {
        color: var(--dark-text);
      }
    }

    &--light {
      @extend .search__input;
      color: var(--light-text);
      &::placeholder {
        color: var(--light-text);
      }
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
}
