@import './../../shared';

.filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  &__button {
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    border-radius: 5px;

    &--dark {
      @extend .filter__button;
      background-color: var(--dark-element);
    }

    &--light {
      @extend .filter__button;
      background-color: var(--light-element);
    }

    &__text {
      font-size: 1.5rem;

      &--dark {
        @extend .filter__button__text;
        color: var(--dark-text);
      }

      &--light {
        @extend .filter__button__text;
        color: var(--light-text);
      }
    }

    &__icon {
      width: 2rem;

      &--dark {
        @extend .filter__button__icon;
        filter: invert(100%);
      }

      &--light {
        @extend .filter__button__icon;
        filter: invert(30%);
      }
    }
  }

  &__options {
    position: absolute;
    transform: translateY(55px);
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 5px;

    &--dark {
      @extend .filter__options;
      background-color: var(--dark-element);
      color: var(--dark-text);
    }

    &--light {
      @extend .filter__options;
      background-color: var(--light-element);
      color: var(--light-text);
    }

    p {
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
