@import './../../shared';

.navbar {
  @include containerPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  box-shadow: 0px 1px 25px -15px rgba(0, 0, 0, 0.7);
  transition: background-color 0s, color 0s;

  &--dark {
    @extend .navbar;
    background-color: var(--dark-element);
    color: var(--dark-text);
  }

  &--light {
    @extend .navbar;
    background-color: var(--light-element);
    color: var(--light-text);
  }

  &__logo {
    font-weight: 800;
    font-size: 3rem;
  }

  &__theme-changer {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    width: 13rem;
  }

  .theme-changer {
    &__icon {
      width: 2.3rem;
      height: 2.3rem;

      &--dark {
        @extend .theme-changer__icon;
        filter: invert(100%);
      }

      &--light {
        @extend .theme-changer__icon;
        filter: invert(0%);
      }
    }
    &__text {
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 619px) {
  .navbar {
    padding: 0 2rem;
    &__logo {
      font-size: 1.8rem;
    }

    &__theme-changer {
      width: auto;
      gap: 1rem;
    }
  }

  .theme-changer {
    &__icon {
      width: 1.5rem;
    }
    &__text {
      font-size: 1.3rem !important;
    }
  }
}
