@import './../../shared';

.main {
  @include containerPadding;
  padding: 4rem;
  height: 100vh;
  @include changeThemeTransition(background-color);

  &--dark {
    @extend .main;
    background-color: var(--dark-background);
  }

  &--light {
    @extend .main;
    background-color: var(--light-background);
  }

  &__countries-cards {
    display: grid;
    grid-template-rows: repeat(2, 20rem);
    grid-template-columns: repeat(4, 1fr);
  }
}
