@import './../../shared';

.main {
  @include containerPadding;
  padding-top: 3rem;
  height: auto;

  &--dark {
    @extend .main;
    background-color: var(--dark-background);
  }

  &--light {
    @extend .main;
    background-color: var(--light-background);
  }

  &__loading {
    margin-top: 2.5rem;
    font-size: 2rem;

    &--dark {
      @extend .main__loading;
      color: var(--dark-text);
    }

    &--light {
      @extend .main__loading;
      background-color: var(--light-background);
      color: var(--light-text);
    }
  }

  &__countries-cards {
    height: 100%;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 28rem);
    column-gap: 10rem;
    row-gap: 5rem;
  }
}
