@import './../../shared';

.main {
  @include containerPadding;
  padding-top: 3rem;
  height: auto;

  &--dark {
    @extend .main;
    background-color: var(--dark-background);
  }

  &--light {
    @extend .main;
    background-color: var(--light-background);
  }

  &__countries-cards {
    height: 100%;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 28rem);
    column-gap: 10rem;
    row-gap: 5rem;
  }
}
