@import './../../_shared.scss';

.country {
  height: 100%;

  &--dark {
    @extend .country;
    background-color: var(--dark-background);
  }

  &--light {
    @extend .country;
    background-color: var(--light-background);
  }

  &__back-button {
    @include containerPadding;
    background-color: transparent;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__details {
    @include containerPadding;
    display: flex;
    gap: 10rem;
    height: 100%;

    &__flag {
      width: 45%;
      height: 100%;
    }

    &__info {
      width: 65%;

      &__name {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 2rem;

        &--dark {
          @extend .country__details__info__name;
          color: var(--dark-text);
        }

        &--light {
          @extend .country__details__info__name;
          color: var(--light-text);
        }
      }

      &__data {
        width: 100%;
        height: 35%;
        display: flex;
        gap: 5.5rem;
        margin-bottom: 5rem;
      }

      &__neighbors {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        h6 {
          margin-right: 1rem;
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

.detail {
  &__name {
    @include descriptionName(detail__name);
    &:not(&:last-child) {
      margin-bottom: 0.6rem;
    }
  }
  &__value {
    @include descriptionValue(detail__name);
  }
}

@media screen and (max-width: 1140px) {
  .country {
    &__back-button {
      padding: 2.5rem 2.5rem;
    }

    &__details {
      padding: 0 2.5rem;
      gap: 5rem;
      &__info {
        &__data {
          flex-direction: column;
          height: auto;
          gap: 0.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .country {
    &__details {
      flex-direction: column;
      align-items: center;

      &__flag {
        width: 100%;
      }
      &__info {
        width: 100%;
        h2 {
          font-size: 3rem;
        }
      }
    }
  }
}
