@import './../../_shared.scss';

.country {
  height: 90.3vh;

  &--dark {
    @extend .country;
    background-color: var(--dark-background);
  }

  &--light {
    @extend .country;
    background-color: var(--light-background);
  }

  &__back-button {
    @include containerPadding;
    background-color: transparent;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__details {
    @include containerPadding;
    display: flex;
    gap: 10rem;
    height: 40rem;

    &__flag {
      width: 60rem;
      height: 90%;
    }

    &__info {
      width: 100%;

      &__name {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 2rem;

        &--dark {
          @extend .country__details__info__name;
          color: var(--dark-text);
        }

        &--light {
          @extend .country__details__info__name;
          color: var(--light-text);
        }
      }

      &__data {
        width: 100%;
        height: 35%;
        display: flex;
        gap: 5.5rem;
        margin-bottom: 5rem;
      }

      &__neighbors {
        display: flex;
        align-items: center;

        h6 {
          margin-right: 1rem;
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

.detail {
  &__name {
    @include descriptionName(detail__name);
    &:not(&:last-child) {
      margin-bottom: 0.6rem;
    }
  }
  &__value {
    @include descriptionValue(detail__name);
  }
}
