@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
@import './shared';

:root {
  --dark-element: hsl(209, 23%, 22%);
  --dark-background: hsl(207, 26%, 17%);
  --dark-text: hsl(0, 0%, 100%);
  --light-element: hsl(0, 0%, 100%);
  --light-background: hsl(0, 0%, 98%);
  --light-text: hsl(200, 15%, 8%);
  --light-input: hsl(0, 0%, 52%);
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--light-background);
}

.app {
  &--dark {
    background-color: var(--dark-background);
  }

  &--light {
    background-color: var(--light-background);
  }
}
