@import './../../shared';

.country-card {
  border-radius: 5px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &--dark {
    @extend .country-card;
    background-color: var(--dark-element);
  }

  &--light {
    @extend .country-card;
    background-color: var(--light-element);
  }

  &__flag {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 45%;
  }

  &__info {
    padding: 1.5rem;
  }

  &__name {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;

    &--dark {
      @extend .country-card__name;
      color: var(--dark-text);
    }

    &--light {
      @extend .country-card__name;
      color: var(--light-text);
    }
  }

  h6:not(:last-child) {
    margin-bottom: 0.4rem;
  }

  &__population {
    font-size: 1.45rem;

    &--dark {
      @extend .country-card__population;
      color: var(--dark-text);
    }

    &--light {
      @extend .country-card__population;
      color: var(--light-text);
    }

    &-value {
      font-weight: 400;

      &--dark {
        @extend .country-card__population-value;
        color: var(--dark-text);
      }

      &--light {
        @extend .country-card__population-value;
        color: var(--light-text);
      }
    }
  }
  &__region {
    font-size: 1.45rem;

    &--dark {
      @extend .country-card__region;
      color: var(--dark-text);
    }

    &--light {
      @extend .country-card__region;
      color: var(--light-text);
    }

    &-value {
      font-weight: 400;

      &--dark {
        @extend .country-card__region-value;
        color: var(--dark-text);
      }

      &--light {
        @extend .country-card__region-value;
        color: var(--light-text);
      }
    }
  }
  &__capital {
    font-size: 1.45rem;

    &--dark {
      @extend .country-card__capital;
      color: var(--dark-text);
    }

    &--light {
      @extend .country-card__capital;
      color: var(--light-text);
    }

    &-value {
      font-weight: 400;

      &--dark {
        @extend .country-card__capital-value;
        color: var(--dark-text);
      }

      &--light {
        @extend .country-card__capital-value;
        color: var(--light-text);
      }
    }
  }
}
